footer {
    background-color: rgb(59, 59, 134) !important;
    color: white;
    padding: 15px;
}

#col-logos img {
    width: 100px;
    height: 100px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}