footer {
    background-color: #383056 !important;
    color: #D9CAC0;
    padding: 15px;
}

#col-logos img {
    width: 100px;
    height: 100px;
}

.footer-link {
    color: #D9CAC0;
    text-decoration: none;
}

.footer-link:hover {
    color: #606EA2 !important;
}