footer {
    background-color: #383056 !important;
    color: #D9CAC0;
    padding: 15px;
}

#col-logos img {
    width: 100px;
    height: 100px;
}

.nav-item a {
    color: #D9CAC0;
    text-decoration: none;
}