nav {
    background-color: #383056 !important;
}

nav a {
    color: #D9CAC0 !important;
}

nav img {
    width: 40px;
    height: 40px;
}

.header-link.active {
    color: #A06061 !important;
}

.header-link:hover {
    color: #606EA2 !important;
}